   {% if items|length>0 %}

        <table style="margin:3%;width: 94%;" class="table table-striped">
            <thead>
                <tr>
                    <th colspan="100%">Items listed:</th>
                </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td width="25%;">
                        <a href="/admin-add.html/{{item.id}}">
                        <h3>{{item.name}}</h3>
                        <hr>{{"%.2f"|format(item.price_fiat)}} {{item.price_fiat_relation.name}}<br>
                            {{"%.3f"|format(item.price_crypto)}} {{item.price_crypto_relation.name}}
                        <br><br><br>
                        </a>
                    </td>
                    <td>
                        <div class="card d-inline">
                            <div class="card-header">
                                {{item.description|safe}}
                            </div>
                            <div class="card-footer">menu here</div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <table style="margin:3%;width: 94%;" class="table table-striped">
            <thead>
                <tr>
                    <th colspan="100%">No items</th>
                </tr>
            </thead>
        </table>
    {% endif %}
