    {% if orders|length>0 %}
        
        <table style="margin:3%;width: 94%;" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="100%">Orders:</th>
                </tr>
            </thead>
            {% for order in orders %}
                <tr>
                    <td width="25%;">
                        {{order.ordered_name}}, with a price {{order.price_crypto}}
                        <br>
                        At the moment there has been {{order.n_tx|int}} transactions with total <strong>{{order.final_balance|round(9, 'floor')}}</strong> btc received
                    </td>
                </tr>

            {% endfor %}
        </table>

    {% else %}
        <table style="margin:3%;width: 94%;" class="table table-striped">
            <thead>
                <tr>
                    <th colspan="100%">No items</th>
                </tr>
            </thead>
        </table>
    {% endif %}

