
{% if items|length>0 %}
        <table style="margin:3%;width: 94%;" class="table table-striped">
            <thead>
                <tr>
                    <th colspan="100%">Offers:</th>
                </tr>
            </thead>
{% for item in items %}
 <tr>
                    <td width="450px">
                        <div "float-left popover popover-right">
                        <img class="card mx-2" align="left" width="350px;" src="/picture/{{item.pic_name}}">
                        </div>
                    </td>

                    </td>
                    <td width="85%;">

                        <h3>{{item.name}}</h3>
                    </td>
 </tr>
{% endfor %}

</table>


{% else %}
<table style="margin:3%;width: 94%;" class="table table-striped">
    <thead>
    <tr>
        <th colspan="100%">No items</th>
    </tr>
    </thead>
</table>
{% endif %}