{% if items|length>0 %}
{% for item in items %}
<table style="margin:3%;width: 94%;" class="table table-striped">
    <thead>
    <tr>
	    <td width="250px" style="vertical-align: top;">
           <div class="float-left popover popover-right">
           <img style="max-width: 220px;" class="card mx-2" align="left" src="/picture/{{item.pic_name}}">
           </div>
        </td>
           <td width="85%:" style="vertical-align: top;">
					<h6>{{item.short_description|safe}}</h6>

                    <h6>
                        Price for ({{item.name}})x{{amount}} is
                        {% if item.fiat_crypto_main_flag=='fiat'%}
                        {{((item.price_fiat*amount)|round(2)|string).rstrip('0').rstrip('.')}}{{fiat_name}}
                        {% endif %}

                        {% if item.fiat_crypto_main_flag=='crypto'%}
                        {{(item.price_crypto|round(4)|string).rstrip('0').rstrip('.')}}{{crypto_name}}
                        {% endif %}
                        </h6>
                        {{item.description|safe}}
                        <br>
                        <hr>
 						<form class="form-group" method="POST">                  
                        <label>{{form.address.label}}</label><br>
                        <textarea style="width: 60%;" rows="5" name="{{form.address.name}}" ></textarea>
						<br>
						Please leave some contact information:
						<br>

						<input type="text" name="{{form.contact.name}}" value="">

						<input type="submit" class="btn btn-primary" value="Make order">
						</form>

                        
                        
                       
                    </td>
 
    </tr>
    </thead>
</table>
{% endfor %}
{% else %}
<table style="margin:3%;width: 94%;" class="table table-striped">
    <thead>
    <tr>
        <th colspan="100%">No such item (404)</th>
    </tr>
    </thead>
</table>
{% endif %}
